.navigateur {
            background-color: #524BB1;
            border-radius: 15px 15px 0 0;
            color: white;
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
        }
.Logo {
      height: 90px;
}

.Links {
        display: flex;
        flex-direction: row;
        gap: 20px;
}

.Links a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 15px 20px;
      border-radius: 10px;
      transition: 0.3s;
  }

.Links a:hover {
    background-color: #111111;
}
