.navigateur {
            background-color: #524BB1;
            border-radius: 15px 15px 0 0;
            color: white;
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
        }
.Logo {
      height: 90px;
}

.Links {
        display: flex;
        flex-direction: row;
        gap: 20px;
}

.Links a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 15px 20px;
      border-radius: 10px;
      transition: 0.3s;
  }

.Links a:hover {
    background-color: #111111;
}

hr {
width: 80%;
 border: none;
height: 2px;
background-color: #524BB1;
 margin-bottom: 30px;
}

table {
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

td {
    padding: 8px;
}

