.navigateur {
            background-color: #524BB1;
            border-radius: 15px 15px 0 0;
            color: white;
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
        }
.Logo {
      height: 90px;
}

.Links {
        display: flex;
        flex-direction: row;
        gap: 20px;
}

.Links a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 15px 20px;
      border-radius: 10px;
      transition: 0.3s;
  }

.Links a:hover {
    background-color: #111111;
}

hr {
width: 80%;
 border: none;
height: 2px;
background-color: #524BB1;
 margin-bottom: 30px;
}

table {
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

td {
    padding: 8px;
}

/* https://www.w3schools.com/cssref/pr_class_cursor.php */
/* https://www.w3schools.com/css/css_margin.asp */
/* https://www.w3schools.com/cssref/pr_class_display.php */
#randomize {
    display: block;
    margin: 35px auto;
    background-color: #524BB1;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

/* https://www.w3schools.com/css/css3_transitions.asp */
#randomize:hover {
    background-color: #111111;
    transform: scale(1.05);
}

.divscore {
  
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #524BB1;
    font-size: 24px;
    
}

 .Titre {
                margin-top: 35px;
                text-align: center;
                font-size: 50px;
                color: #524BB1;
 }


/* https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.dropbtn:hover {
    background-color: #111111;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    min-width: 220px;
    /* border-radius-top-left: 12px;
    border-radius-top-right: 12px; */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.dropdown-content a {
    display: block;
    color: #524BB1;
    padding: 14px 18px;
    text-decoration: none;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #524BB1;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

