/*Source: https://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript#:~:text=12%20Answers,2%2C0892%2015%2029*/
.clickable-box {
  display: block;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(82, 75, 177, 0.25);
  border-radius: 15px;
  padding: 20px;
  transition: background 0.3s;
}
.clickable-box:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: box-shadow 1s;
  box-shadow: 2px 2px #888888;
}



/*Source: https://stackoverflow.com/questions/72542295/how-do-i-set-an-image-to-the-left-of-a-paragraph#:~:text=1%20Comment&text=You'll%20need%20to%20remove,they%20way%20that%20you%20want.*/
.flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
}



/*Source: https://www.w3schools.com/css/css_navbar_horizontal.asp*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #524BB1;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}



.left-image {
  max-width: 300px;
}
.right {
  float: right;
  width: 44%;
}
.left {
  float: left;
  width: 44%;
}
body {
  background-color: #ffffff;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  border-radius: 15px;
}
.h1 {
  background-color: #524BB1;
  border-radius: 15px 15px 0 0;
  color: #ffffff;
  height: 125px;
}
